<a href="https://colab.research.google.com/github/amylynnn/EduSparks/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [3]:
even_numbers = []
for num in range(1, 21):
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
even_numbers = [num for num in range(2, 21, 2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
cube_numbers = [n**3 for n in range(1, 11)]
print(cube_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
cubes = []
for x in range(1, 11):
  cubes.append(x**3)
  print(cubes)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
print([x**3 for x in range(1, 11)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
for i in range(1, 6):
  for j in range(1, 6):
    print(f"{i},x {j} = {i*j}")
    print("------")

1,x 1 = 1
------
1,x 2 = 2
------
1,x 3 = 3
------
1,x 4 = 4
------
1,x 5 = 5
------
2,x 1 = 2
------
2,x 2 = 4
------
2,x 3 = 6
------
2,x 4 = 8
------
2,x 5 = 10
------
3,x 1 = 3
------
3,x 2 = 6
------
3,x 3 = 9
------
3,x 4 = 12
------
3,x 5 = 15
------
4,x 1 = 4
------
4,x 2 = 8
------
4,x 3 = 12
------
4,x 4 = 16
------
4,x 5 = 20
------
5,x 1 = 5
------
5,x 2 = 10
------
5,x 3 = 15
------
5,x 4 = 20
------
5,x 5 = 25
------